# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.AB_Client.iml
# Datasource local storage ignored files
/../../../../../../:\Projects\AB_Client\.idea\.idea.AB_Client\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
